/* Глобальные настройки */
html,
body {
  margin: auto;
  width: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Конец глобальных настроек*/
/*Шапка сайта*/
.header-logo {
  width: 220px;
  height: 42px;
}

.logo {
  padding: 13px 55px 9px 56px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

a .logo:hover {
  background-color: #ca2c37;
}

a .logo:focus {
  background-color: #ba2732;
}

input[type="search"] {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  font-size: 17px;
  font-family: "Cuprum", "Arial", "sans-serif";
  line-height: 18px;
  background-color: #293349;
  border: none;
}

.searching-form input[type="search"] {
  width: 270px;
}

.searching-form svg {
  position: absolute;
  padding-top: 12px;
  padding-left: 17px;
  opacity: 0.3;
}

/*Изменение цвета текста в атрибуте placeholder для Safari и Chrome*/
input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

/*Изменение цвета текста в атрибуте placeholder для Firefox*/
input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:focus::-moz-placeholder {
  color: #000000;
}

/*Изменение цвета текста в атрибуте placeholder для Internet Explorer*/
input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]:focus:-ms-input-placeholder {
  color: #000000;
}

/*Изменение цвета текста в атрибуте placeholder для Microsoft Edge*/
input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]:focus::-ms-input-placeholder {
  color: #000000;
}

.searching-form:hover,
input[type="search"]:hover {
  background-color: #212939;
}

.searching-form:focus,
input[type="search"]:focus {
  background-color: #ffffff;
}

.searching-form svg:hover {
  opacity: 1;
}

.first-navigation-wrapper {
  margin: auto;
  background-color: #293349;
}

.first-navigation {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.first-list-navigation {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0;
  padding: 0;
}

.first-list-navigation a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
}

.bookmark,
.cart {
  position: relative;
  width: 105px;
  padding-left: 44px;
}

.cart {
  padding-left: 49px;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart:hover,
.bookmark:hover {
  background-color: #212939;
}

.cart:hover::before,
.bookmark:hover::before {
  opacity: 1;
}

.cart:focus,
.bookmark:focus {
  opacity: 0.6;
  background-color: #161c28;
}

.cart:focus::before,
.bookmark:focus::before {
  opacity: 0.5;
  background-color: #161d29;
}

.checkout {
  width: 150px;
  text-align: center;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:focus {
  opacity: 0.5;
}

.second-navigation-wrapper {
  padding-top: 46px;
  background-color: #f3f7f8;
}

.second-navigation {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header {
  width: 200px;
  margin: 0;
  padding-top: 3px;
  padding-left: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  text-align: left;
}

.info-phon {
  width: 264px;
  border: 3px solid #ffffff;
}

.phon {
  position: relative;
  width: 193px;
  margin: 0;
  padding-top: 10px;
  padding-left: 71px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.icon-phon {
  position: absolute;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 8px;
}

.adress {
  margin: 0;
  padding-top: 4px;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 281px;
}

.login,
.registration {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 21px;
  line-height: 21px;
  border: none;
  background-color: #ffffff;
}

.login {
  position: relative;
  width: 122px;
  padding-left: 27px;
}

.registration {
  width: 150px;
}

.login::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover,
.registration:hover {
  color: #ee3643;
}

.login:hover::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 21px;
  height: 17px;
  background-image: url("../img/hover-icon-login.svg");
  z-index: 2;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:focus,
.registration:focus {
  color: #b2b2b2;
}

.info {
  width: 270px;
  min-height: 45px;
}

.user {
  width: 300px;
  min-height: 46px;
}

.user-info {
  display: flex;
  margin: 0;
  width: 210px;
  min-height: 14px;
}

.user p {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 11px;
  background-color: #ffffff;
}

.authorized-user {
  position: relative;
  padding-left: 47px;
  padding-right: 64px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.authorized-user::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorized-user::after {
  position: absolute;
  content: "";
  top: 4px;
  right: 7px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorized-user:hover::before,
.authorized-user:hover::after {
  opacity: 0.5;
}

.authorized-user:focus::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user-blue.png");
  z-index: 5;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.authorized-user:focus::after {
  position: absolute;
  content: "";
  top: 4px;
  right: 7px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout-blue.png");
  z-index: 5;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.user-info a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.authorized-user:focus {
  color: #b2b2b2;
}

.user-info a:hover {
  color: #ee3643;
}

.user-info a:focus {
  color: #bec5ce;
}

.icon-dot {
  margin-right: 11px;
  margin-left: 13px;
}

.main-navigation {
  width: 940px;
  margin-top: 39px;
  margin-bottom: 60px;
  box-shadow: 0 5px 0 0 #293449;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px
}

.main-navigation a {
  display: block;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 27px;
  padding-right: 33px;
  vertical-align: middle;
}

.list-main-navigation:hover {
  background-color: #293449;
}

.list-main-navigation:focus {
  opacity: 0.5;
  background-color: #1d2639;
}

/*Конец разметки шапки сайта*/
/*Хлебные крошки на странице каталога*/
.bread-crumbs a, .bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  color: #000000;
}

/*Конец разметки хлебных крошек*/
/*Заголовок раздела каталога*/
.hammer-drill {
  margin: auto;
  margin-bottom: 25px;
  width: 911px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  min-height: 23px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f1f5f7;
}

/*Конец разметки заголовка раздела каталога*/
/*Каталог товаров*/
.catalog {
  width: 700px;
  min-height: 994px;
}

.catalog-columns {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  margin-bottom: 19px;
  margin-right: 20px;
  width: 218px;
  min-height: 317px;
  border: 1px solid #e5e5e5;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  z-index: 11;
}

.image-product {
  position: absolute;
  top: 0;
  width: 218px;
  height: 170px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.drill {
  position: absolute;
  top: 161px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
  z-index: 13;
}

.number {
  text-transform: uppercase;
}

.discount {
  position: absolute;
  top: 230px;
  left: 78px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
  z-index: 12;
}

.price {
  position: relative;
  top: 267px;
  left: 42px;
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 8px;
  padding-left: 36px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
  background: #ee3643;
  border-radius: 3px;
  z-index: 11;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -31px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 220px;
  height: 238px;
  padding: 40px 0;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px #5f6777;
  z-index: 10;
}

.actions .buy,
.actions .in-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.actions .buy {
  position: relative;
  margin-top: 3px;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 6px;
}

.actions .buy::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 12px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.actions .in-bookmark {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 6px;
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.buy:hover::before {
  opacity: 1;
}

.actions .buy:focus {
  background-color: #518534;
  border-bottom-color: #518534;
}

.in-bookmark:hover {
  border: 3px solid #32425c;
}

.in-bookmark:focus {
  color: #c9ced4;
  border: 3px solid #959eab;
}

/*Конец разметки каталога товаров*/
/*Разметка сортировки в каталоге*/
.sorting-tools {
  margin: auto;
  margin-bottom: 17px;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 201px;
  padding-left: 19px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting {
  width: 700px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting-list {
  width: 460px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.sorting h4 {
  margin: 0;
  font-weight: 400;
}

.type-sorting {
  color: #b2b2b2;
  border-bottom: 2px dotted #ed3543;
}

.type-sorting:hover {
  color: #000000;
  border-bottom: 2px solid #ed3543;
}

.type-sorting:active {
  color: #ee3643;
  border-bottom: none;
}

/*Конец разметки сортировки в каталоге*/
/*Разметка фильтра в каталоге*/
.fieldset fieldset,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset {
  border-bottom: 1px solid #e5e5e5;
}

.filter-block {
  width: 220px;
  min-height: 747px;
}

.filter-blocks {
  padding-top: 17px;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
}

.min-price input[type="text"],
.max-price input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.dash {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: "PT Sans";
  font-weight: 400;
  text-align: center;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
}

.checkbox label,
.radio-button label {
  position: relative;
  padding-left: 34px;
  padding-bottom: 20px;
  display: block;
  cursor: pointer;
  user-select: none;
}

.radio-button label {
  padding-left: 36px;
  padding-top: 2px;
}

.checkbox::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-color: transparent;
  background-repeat: no-repeat;
}

.radio-button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.png");
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.radio-button:checked+label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/radio-on.png");
  background-color: transparent;
  background-repeat: no-repeat;
}

.checkbox:hover::before,
.radio-button:hover::before {
  opacity: 1;
}

.checkbox:focus::before,
.radio-button:focus::before {
  opacity: 0.3;
}

.form-filter ul {
  margin: 0;
  padding: 0;
}

.filter-checkbox {
  padding-top: 10px;
}

.show {
  margin-top: 37px;
  padding: 14px 39px 15px 39px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*Конец разметки фильтра в каталоге*/
/*Разметка номеров страниц в каталоге*/
.pagination-list {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: "PT Sans";
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.pagination-list:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list:focus {
  border: 1px solid #ee3643;
}

.pagination-list:active {
  color: #ffffff;
  background-color: #ee3643;
}

/*Конец разметки номеров страниц в каталоге*/
/*Разметка промоблока на главной странице*/
.promoblock h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.promoblock a {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e5e5e5;
}

.material {
  background-color: #ffbf47;
}

.promoblock a:hover {
  background-color: #cccccc;
}

.promoblock a:focus {
  background-color: #b2b2b2;
}

.tools {
  background-color: #3bbbe2;
}

.technics {
  background-color: #db90d8;
}

.discounts {
  background-color: #8dd68e;
}

.about-delivery {
  background-color: #ffbf47;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  color: #ffffff;
}

.slider a {
  line-height: 18px;
  text-align: center;
  background-color: #ed3543;
}

.slider a:hover {
  background-color: #ca2b36;
}

.slider a:focus {
  background-color: #ba2731;
}

/*Конец разметки промоблока на главной странице*/
/*Разметка популярных товаров*/
.popular {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.popular a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ed3543;
}

/*Конец разметки популярных товаров*/
/*Разметка блока о перфораторах в каталоге*/
.about-drill {
  background-color: #f2f6f8;
}

.about-drill h4 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.about-drill p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

/*Конец разметки блока о перформаторах в каталоге*/
/*Разметки блока сервис*/
.service {
  background-color: #f4f8fa;
}

.services {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.common-advantage {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

.service-item {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  font-weight: 700;
  background-color: #31415b;
}

.service-item:hover {
  background-color: #293349;
}

.service-item:active {
  background-color: #ffffff;
}

.service-description h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.advantage-local {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  text-align: left;
  line-height: 24px;
  color: #000000;
}

.send-request {
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  border: none;
}

/*Конец разметки блока сервиса*/
/* Блок о компании и конаткты */
.about-company-wrapper {
  margin: auto;
  margin-top: 73px;
  margin-bottom: 86px;
  width: 940px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company {
  width: 540px;
}

.company-contacts {
  width: 300px;
}

.header-company {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company {
  padding: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.1px;
}

.more-about {
  padding-top: 10px;
}

.item-delivery {
  padding-top: 8px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.1px;
}

.shift-down {
  padding-bottom: 12px;
}

.delivery {
  margin: 0;
  padding: 0;
}

.dash {
  padding-right: 10px;
  padding-bottom: 4px;
}

.more-about-company {
  display: block;
  width: 220px;
  margin-top: 36px;
  padding-top: 11px;
  padding-bottom: 9px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ed3543;
  border-radius: 3px;
}

.header-contacts {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.pick-up {
  width: 180px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

.map {
  margin-top: 23px;
  margin-bottom: 19px;
  padding-top: 7px;
}

.write-to-us {
  width: 300px;
  padding: 0;
  padding-top: 11px;
  padding-left: 7px;
  padding-bottom: 9px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", "sans-serif";
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ed3543;
  border: none;
  border-radius: 3px;
}

/*Конец блока о компании и конаткты*/
/*Разметка футера*/
.footer-wrapper {
  background-color: #32425c;
}

.first-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 49px;
  width: 940px;
  font-size: 18px;
}

.footer-logo {
  width: 220px;
}

.footer-logo .logo {
  padding: 21px 41px 19px 41px;
}

.first-footer-navigation {
  margin: 0;
  padding-top: 36px;
  width: 547px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper-for-padding {
  padding-top: 2px;
}

.first-footer-list {
  color: #f1f5f7;
}

.fist-footer-list:hover {
  text-decoration: underline;
}

.fist-footer-list:focus {
  text-decoration: none;
  opacity: 0.5;
}

.second-footer-navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 525px;
}

.adress-company {
  margin: 0;
  margin-top: 26px;
  padding-left: 3px;
  width: 330px;
  font-size: 18px;
  color: #f1f5f7;
}

.wrapper-another-padding {
  padding-top: 26px;
}

.second-footer-wrapper {
  background-color: #293449;
}

.second-footer {
  margin: auto;
  padding-top: 37px;
  padding-bottom: 17px;
  width: 940px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.second-footer-list {
  color: #ffd180;
}

.second-footer-list:hover {
  text-decoration: underline;
}

.second-footer-list:focus {
  text-decoration: none;
  opacity: 0.5;
}

.copyright {
  margin: 0;
  padding-left: 2px;
  width: 230px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

.social-info ul {
  display: flex;
  justify-content: space-around;
  width: 133px;
  margin-top: -3px;
  padding-left: 41px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 20px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 300px;
}

.feedback-item {
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.ffirst-item-width {
  width: 136px;
}

.second-item-widh {
  width: 110px;
}

.feedback-value {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback-value:hover {
  text-decoration: underline;
}

.feedback-value:focus {
  color: #ee3643;
}

/*Конец разметки футера*/
/*Разметка модального окна обратной связи*/
.modal {
  position: fixed;
  margin: auto;
  box-shadow:
    0px 20px 40px #404040,
    0 -7px 0 0 #ff5257;
  background-color: #ffffff;
}

.modal-feedback-form {
  width: 620px;
  margin-top: 113px;
  padding-top: 33px;
  top: 200px;
  left: 642px;
}

.feedback-form {
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-name,
.feedback-mail,
.feedback-text {
  display: block;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

input[type="text"],
textarea {
  box-sizing: border-box;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.short-field input[type="text"] {
  width: 220px;
}

form .long-field {
  margin: 0;
  margin-top: 7px;
  padding-left: 1px;
  margin-bottom: 29px;
}

textarea {
  margin-left: -1px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 12px;
  outline: none;
  resize: none;
}

input[type="text"]:hover,
textarea:hover {
  border: 2px solid #b5b5b5;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #ee3643;
  color: #000000;
}

.modal-close {
  position: absolute;
  padding: 0;
  cursor: pointer;
  content: "";
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: 0;
  background-image: url("../img/icon-close.svg");
  transform: rotate(90deg);
  background-color: transparent;
  background-repeat: no-repeat;
}

.wrapper-button-submit {
  width: 620px;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #f4f4f4;
}

.button-submit {
  width: 460px;
  margin-left: 80px;
  padding-top: 11px;
  padding-bottom: 9px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #ee3643;
  border-radius: 4px;
}

/*Конец разметка модального окна обратной связи*/
/*Разметка модального окна по добавлению товара в корзину*/
.modal-added-cart {
  position: relative;
  width: 620px;
  margin: auto;
  top: -1741px;
  background: #ffffff;
  box-shadow:
    0px 20px 40px #5f6777,
    0 -7px 0 0 #ff5257;
}

.product-added {
  position: relative;
  margin: 0;
  margin-bottom: 68px;
  padding-top: 65px;
  padding-left: 181px;
  font-size: 30px;
  line-height: 30px;
}

.product-added::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 38px;
  padding-top: 37px;
  padding-right: 80px;
  padding-left: 80px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f1f1f1;
}

.start-checkout {
  width: 160px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 60px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
}

.continue-shopping {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 4px;
  font-size: 14px;
  font-size: "Cuprum", "Arial", "sans-serif";
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

/*Конец разметки модального окна по добавлению товара в корзину*/
/*Разметка карты*/
.modal-map {
  position: relative;
  margin: auto;
  width: 940px;
  height: 446px;
  margin-top: -803px;
  box-shadow: 0 0 16px #979595;
  background-color: #565656;
}

.crop {
  position: relative;
  overflow: hidden;
  width: 940px;
  height: 446px;
}

.crop img {
  position: absolute;
  top: -256px;
  right: -270px;
  left: -525px;
  bottom: -76px;
}

/*Конец разметки карты*/
/*Скрыты модальные окна окна*/
.modal-added-cart,
.modal-feedback-form,
.modal-map {
  display: none;
}

/*Сеточные стили*/
.bread-crumbs {
  display: flex;
  margin: auto;
  width: 940px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 12px;
}

.crumb {
  margin-right: 16px;
}

.icon-right-small {
  margin-right: 17px;
}

/*Конец сеточных стилей*/
