/*Глобальные настройки*/
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Конец глобальных настроек*/
/*Шапка сайта*/
.logo {
  padding: 13px 55px 10px 56px;
  background-color: #ee3643;
}

a .logo:hover {
  background-color: #ca2c37;
}

a .logo:focus {
  background-color: #ba2732;
}

.icon-search {
  padding-right: 12px;
  padding-left: 16px;
}

.footer-logo .logo {
  padding: 20px 41px 25px 41px;
}

input[type="search"] {
  padding-top: 14px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: "Cuprum", "Arial", "sans-serif";
  line-height: 18px;
  background-color: #293349;
  border: none;
}

/*Изменение цвета текста в атрибуте placeholder для Safari и Chrome*/
input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

/*Изменение цвета текста в атрибуте placeholder для Firefox*/
input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

/*Изменение цвета текста в атрибуте placeholder для Internet Explorer*/
input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

/*Изменение цвета текста в атрибуте placeholder для Microsoft Edge*/
input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.searching-form:hover,
input[type="search"]:hover {
  background-color: #212939;
}

.searching-form:focus,
input[type="search"]:focus {
  background-color: #ffffff;
}

.first-list-navigation li {
  padding-top: 13px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.bookmark,
.cart {
  padding: 15px 21px 09px 21px;
}

.img-cart {
  padding-right: 17px;
}

.img-bookmark {
  padding-right: 13px;
}

.cart:hover,
.bookmark:hover {
  background-color: #212939;
}

.cart:focus,
.bookmark:focus {
  color: #a2a5a9;
  background-color: #161c28;
}

.checkout {
  padding: 14px 22px 11px 20px;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:focus {
  color: #a8c29a;
  background-color: #508534;
}

.main-header {
  margin: 0;
  padding-left: 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  text-align: left;
}

.icon-phon {
  padding-right: 32px;
  padding-left: 13px;
}

.phon {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 09px;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.info-phon {
  margin-right: 20px;
  border: 3px solid #ffffff;
}

.adress {
  margin: 0;
  padding-top: 5px;
  line-height: 21px;
  text-align: center;
  color: #32425c;
}

.login {
  width: 121px;
  height: 45px;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 21px;
  line-height: 21px;
  border: none;
  background-color: #ffffff;
}

.icon-login {
  padding-right: 13px;
}

.login:hover {
  color: #ee3643;
}

.login:focus {
  color: #b2b2b2;
}

.registration {
  width: 150px;
  height: 45px;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 21px;
  line-height: 21px;
  border: none;
  background-color: #ffffff;
}

.registration:hover {
  color: #ee3643;
}

.registration:focus {
  color: #b2b2b2;
}

.user p {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: #ffffff;
}

.authorized-user {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.authorized-user img {
  padding-right: 13px;
  padding-left: 13px;
}

.icon-logout {
  padding-right: 10px;
  padding-left: 30px;
}

.user-info a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.authorized-user:focus {
  color: #b2b2b2;
}

.user-info a:hover {
  color: #ee3643;
}

.user-info a:focus {
  color: #bec5ce;
}

.icon-dot {
  margin-right: 11px;
  margin-left: 13px;
}

.main-navigation {
  margin-top: 42px;
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.list-main-navigation {
  padding: 16px 31px 17px 31px;
}

.list-main-navigation:hover {
  background-color: #293449;
}

.list-main-navigation:focus {
  color: #8e939c;
  background-color: #1d2639;
  padding: 16px 31px 19px 31px;
}

/*Конец разметки шапки сайта*/
/*Хлебные крошки на странице каталога*/
.bread-crumbs a, .bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  color: #000000;
}

/*Конец разметки хлебных крошек*/
/*Заголовок раздела каталога*/
.hammer-drill {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f1f5f7;
}

/*Конец разметки заголовка раздела каталога*/
/*Каталог товаров*/
.drill {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
}

.number {
  text-transform: uppercase;
}

.discount {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-align: center;
}

.buy {
  line-height: 18px;
  font-family: "Cuprum", "Arial", "sans-serif";
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a53d;
  border: none;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:focus {
  background-color: #508534;
}

.in-bookmark {
  line-height: 18px;
  color: #32425c;
  font-family: "Cuprum", "Arial", "sans-serif";
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  background-color: transparent;
}

.in-bookmark:hover {
  border: 3px solid #32425c;
}

.in-bookmark:focus {
  color: #c9ced4;
  border: 3px solid #959eab;
}

/*Конец разметки каталога товаров*/
/*Разметка сортировки в каталоге*/
.sorting {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting h4 {
  font-weight: 400;
}

.type-sorting {
  color: #b2b2b2;
  border-bottom: 2px dotted #ed3543;
}

.type-sorting:hover {
  color: #000000;
  border-bottom: 2px solid #ed3543;
}

.type-sorting:active {
  color: #ee3643;
  border-bottom: none;
}

/*Конец разметки сортировки в каталоге*/
/*Разметка фильтра в каталоге*/
.filter-blocks {
  padding-top: 17px;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
}

.header-filtr {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.min-price input[type="text"], .max-price input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.filter-block span {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: "PT Sans";
  font-weight: 400;
  text-align: center;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-checkbox {
  padding-top: 10px;
}

.show {
  margin-top: 37px;
  padding: 14px 39px 15px 39px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*Конец разметки фильтра в каталоге*/
/*Разметка номеров страниц в каталоге*/
.pagination-list {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: "PT Sans";
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.pagination-list:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list:focus {
  border: 1px solid #ee3643;
}

.pagination-list:active {
  color: #ffffff;
  background-color: #ee3643;
}

/*Конец разметки номеров страниц в каталоге*/
/*Разметка промоблока на главной странице*/
.promoblock h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.promoblock a {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e5e5e5;
}

.material {
  background-color: #ffbf47;
}

.promoblock a:hover {
  background-color: #cccccc;
}

.promoblock a:focus {
  background-color: #b2b2b2;
}

.tools {
  background-color: #3bbbe2;
}

.technics {
  background-color: #db90d8;
}

.discounts {
  background-color: #8dd68e;
}

.about-delivery {
  background-color: #ffbf47;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  color: #ffffff;
}

.slider a {
  line-height: 18px;
  text-align: center;
  background-color: #ed3543;
}

.slider a:hover {
  background-color: #ca2b36;
}

.slider a:focus {
  background-color: #ba2731;
}

/*Конец разметки промоблока на главной странице*/
/*Разметка популярных товаров*/
.popular {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.popular a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ed3543;
}

/*Конец разметки популярных товаров*/
/*Разметка блока о перфораторах в каталоге*/
.about-drill {
  background-color: #f2f6f8;
}

.about-drill h4 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.about-drill p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

/*Конец разметки блока о перформаторах в каталоге*/
/*Разметки блока сервис*/
.service {
  background-color: #f4f8fa;
}

.services {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.common-advantage {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

.service-item {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  font-weight: 700;
  background-color: #31415b;
}

.service-item:hover {
  background-color: #293349;
}

.service-item:active {
  background-color: #ffffff;
}

.service-description h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.advantage-local {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  text-align: left;
  line-height: 24px;
  color: #000000;
}

.send-request {
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  border: none;
}

/*Конец разметки блока сервиса*/
/* Блок о компании и конаткты */
.header-company {
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  text-align: left;
}

.delivery {
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.dash {
  padding-right: 10px;
  padding-bottom: 5px;
}

.more-about-company {
  padding: 14px 40px 12px 41px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ed3543;
}

.header-contacts {
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.pick-up {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-align: left;
}

.write-to-us {
  padding: 14px 59px 12px 53px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", "sans-serif";
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ed3543;
  border: none;
}

.first-footer {
  font-size: 18px;
}

.first-footer-list {
  color: #f1f5f7;
}

.fist-footer-list:hover {
  text-decoration: underline;
}

.fist-footer-list:focus {
  text-decoration: none;
  color: #919ba9;
}

.second-footer-list {
  color: #ffd180;
}

.second-footer-list:hover {
  text-decoration: underline;
}

.second-footer-list:focus {
  text-decoration: none;
  color: #98896e;
}

.adress-company {
  font-size: 18px;
  color: #f1f5f7;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

.feedback-item {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-value {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback-value:hover {
  text-decoration: underline;
}

.feedback-value:focus {
  color: #ee3643;
}

/*Скрыты на время формы всплывающих окон, до изучения 7-ого раздела*/
.feedback-form, .added-to-cart {
  display: none;
}

/*Сеточные стили*/
html,
body {
  margin: auto;
  width: 1200px;
  height: 3151px;
}

html,
.catalog-sizes {
  height: 2250px;
}

.first-navigation-wrapper {
  margin: auto;
  background-color: #293349;
}

.first-navigation {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 220px;
  height: 42px;
}

.searching-form {
  width: 270px;
  margin: 0;
  padding: 0;
  min-height: 42px;
}

.first-list-navigation {
  width: 450px;
  margin: 0;
  padding: 0;
  min-height: 42px;
}

.second-navigation-wrapper {
  padding-top: 46px;
  min-height: 232px;
  background-color: #f3f7f8;
}

.second-navigation {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header {
  margin-right: 20px;
  width: 200px;
  height: 70px;
}

.info {
  width: 270px;
  min-height: 45px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
  min-height: 45px;
}

.main-navigation {
  width: 940px;
  min-height: 60px;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.user {
  width: 300px;
  min-height: 46px;
}

.user-info {
  margin: 0;
  width: 210px;
  min-height: 14px;
}

.about-company-wrapper {
  margin: auto;
  width: 940px;
  margin-top: 80px;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
}

.company {
  margin: 0;
  padding: 0;
  width: 540px;
  min-height: 370px;
}

.company-contacts {
  margin: 0;
  padding: 0;
  width: 300px;
  min-height: 370px;
}

.footer-wrapper {
  background-color: #32425c;
}

.first-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 940px;
  min-height: 193px;
}

.footer-logo {
  width: 220px;
  height: 64px;
}

.first-footer-navigation {
  margin: 0;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  width: 550px;
  min-height: 28px;
}

.adress-company {
  margin: 0;
  width: 330px;
  min-height: 55px;
}

.second-footer-wrapper {
  background-color: #293449;
}

.second-footer-navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 540px;
  min-height: 42px;
}

.second-footer {
  margin: auto;
  padding-top: 39px;
  padding-bottom: 32px;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 0;
  margin: 0;
  width: 230px;
  min-height: 42px;
}

.social-info {
  display: flex;
  margin: 0;
  width: 133px;
  min-height: 45px;
}

.social-info a {
  margin-right: 5px;
}

.feedback-info {
  margin: 0;
  padding: 0;
  width: 300px;
  min-height: 47px;
}

.bread-crumbs {
  display: flex;
  margin: auto;
  width: 940px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 12px;
}

.crumb {
  margin-right: 16px;
}

.icon-right-small {
  margin-right: 17px;
}

.hammer-drill {
  margin: auto;
  width: 911px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  min-height: 23px;
}

.catalog-columns {
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.fieldset {
  border-bottom: 1px solid #e5e5e5;
}

.filter-block {
  width: 220px;
  min-height: 747px;
}

.catalog {
  width: 700px;
  min-height: 994px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  margin-bottom: 14px;
  margin-right: 14px;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.first-list-navigation {
  display: flex;
  justify-content: space-between;
}

.feedback-info {
  display: flex;
  justify-content: space-between;
}

.feedback-item {
  margin: 0;
  padding: 0;
  width: 140px;
}

.user-info {
  display: flex;
}

/*Конец сеточных стилей*/
